@model IEnumerable<SpecTester.Web.Areas.Administration.ViewModels.DishViewModel>
@if (Model.Count() != 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Dish Name</th>
                <th>Products</th>
                <th>Has Sauce</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dish in Model)
            {
                <tr>
                    <td>
                        @dish.Name
                    </td>
                    <td>
                        @foreach (var product in dish.Products)
                        {
                            <div>@product.Name</div>
                        }
                    </td>
                    <td>
                        @(dish.HasSauce ? "Yes" : "No")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="text-danger">No Dishes have been added to this training yet!</h2>
}