@{
    ViewBag.Title = "Help";
}

<h2>Help Section Area</h2>
<table class="infobox" style="padding:0; text-align:left; width:0">
    <tbody>
        <tr>
            <th colspan="2" style="background:#CCF; text-align:center">
                <div style="float:right;margin-right:8px;">
                    <div class="plainlinks hlist navbar mini">
                    </div>
                </div>
                Multiples of <strong class="selflink">bits</strong>
            </th>
        </tr>
        <tr>
            <td>
                <table style="border:1px #AAA solid">
                    <tbody>
                        <tr>
                            <th colspan="4" style="background:#CCF; text-align:center">Decimal</th>
                        </tr>
                        <tr>
                            <th colspan="2" style="background:#EDF; text-align:center">Value</th>
                            <th colspan="2" style="background:#EDF; text-align:center">SI</th>
                        </tr>
                        <tr>
                            <td>1000</td>
                            <td>10<sup>3</sup></td>
                            <td>kbit</td>
                            <td>kilobit</td>
                        </tr>
                        <tr>
                            <td>1000<sup>2</sup></td>
                            <td>10<sup>6</sup></td>
                            <td>Mbit</td>
                            <td>megabit</td>
                        </tr>
                        <tr>
                            <td>1000<sup>3</sup></td>
                            <td>10<sup>9</sup></td>
                            <td>Gbit</td>
                            <td>gigabit</td>
                        </tr>
                        <tr>
                            <td>1000<sup>4</sup></td>
                            <td>10<sup>12</sup></td>
                            <td>Tbit</td>
                            <td>terabit</td>
                        </tr>
                        <tr>
                            <td>1000<sup>5</sup></td>
                            <td>10<sup>15</sup></td>
                            <td>Pbit</td>
                            <td>petabit</td>
                        </tr>
                        <tr>
                            <td>1000<sup>6</sup></td>
                            <td>10<sup>18</sup></td>
                            <td>Ebit</td>
                            <td>exabit</td>
                        </tr>
                        <tr>
                            <td>1000<sup>7</sup></td>
                            <td>10<sup>21</sup></td>
                            <td>Zbit</td>
                            <td>zettabit</td>
                        </tr>
                        <tr>
                            <td>1000<sup>8</sup></td>
                            <td>10<sup>24</sup></td>
                            <td>Ybit</td>
                            <td>yottabit</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table style="border:1px #AAA solid">
                    <tbody>
                        <tr>
                            <th colspan="6" style="background:#CCF; text-align:center">Binary</th>
                        </tr>
                        <tr>
                            <th colspan="2" style="background:#EDF;text-align:center">Value</th>
                            <th colspan="2" style="background:#EDF; text-align:center">IEC</th>
                            <th colspan="2" style="background:#EDF; text-align:center">JEDEC</th>
                        </tr>
                        <tr>
                            <td>1024</td>
                            <td>2<sup>10</sup></td>
                            <td>Kibit</td>
                            <td>kibibit</td>
                            <td>Kbit</td>
                            <td>kilobit</td>
                        </tr>
                        <tr>
                            <td>1024<sup>2</sup></td>
                            <td>2<sup>20</sup></td>
                            <td>Mibit</td>
                            <td>mebibit</td>
                            <td>Mbit</td>
                            <td>megabit</td>
                        </tr>
                        <tr>
                            <td>1024<sup>3</sup></td>
                            <td>2<sup>30</sup></td>
                            <td>Gibit</td>
                            <td>gibibit</td>
                            <td>Gbit</td>
                            <td>gigabit</td>
                        </tr>
                        <tr>
                            <td>1024<sup>4</sup></td>
                            <td>2<sup>40</sup></td>
                            <td>Tibit</td>
                            <td>tebibit</td>
                            <td></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1024<sup>5</sup></td>
                            <td>2<sup>50</sup></td>
                            <td>Pibit</td>
                            <td>pebibit</td>
                            <td></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1024<sup>6</sup></td>
                            <td>2<sup>60</sup></td>
                            <td>Eibit</td>
                            <td>exbibit</td>
                            <td></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1024<sup>7</sup></td>
                            <td>2<sup>70</sup></td>
                            <td>Zibit</td>
                            <td>zebibit</td>
                            <td></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1024<sup>8</sup></td>
                            <td>2<sup>80</sup></td>
                            <td>Yibit</td>
                            <td>yobibit</td>
                            <td></td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="background-color:#DDF; text-align:center">
                <div class="hlist">
                    <dl>
                        <dt><span style="font-weight:normal;">See also</span></dt>
                        <dd>Nibble</dd>
                        <dd>Byte</dd>
                        <dd>Orders of magnitude of data</dd>
                    </dl>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<hr />
@Html.Partial("_PartialHelp")

