@using SpecTester.Web.Areas.Administration.ViewModels
@model IEnumerable<ProductViewModel>

@foreach (var product in Model)
{    <div class="cooking" >
        <img id="@(product.Id)" src="~/Content/images/products/@product.ImageUrl" width="80" height="80" />
        <div>@product.Name</div>
    </div>
}
