@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<div class="jumbotron text-center">
    <h1> Oops... and error happened.</h1>
    <h2>Have some bacon and egg and you will feel much better.</h2>
    <br />
    <img src="~/Content/images/site/404-not-found-error.jpg" />
</div>