@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="jumbotron">Another pretty useless view</h1>
<iframe width="760" height="455" src="https://www.youtube.com/embed/PF7EpEnglgk" frameborder="0" allowfullscreen></iframe>
