@model SpecTester.Web.Areas.Administration.ViewModels.DishViewModel
@{
        ViewBag.Title = "Dish Details";
}

<h2>@ViewBag.Title</h2>
<hr />



<p>
     @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
     @Html.ActionLink("Back to List", "Index")
</p>
