@using SpecTester.Web.Areas.Administration.ViewModels
@model IEnumerable<DishViewModel>
<img id="bookpage"  src="~/Content/images/site/cookbook.png" />
<br />
<div id="mybook" class="text-center">
    <div >
        <br />
        <br />
        <br />
        <h1>The Cook Book</h1>
        <div class="text-center">
            <a href="#" id="getCreateDish" class="btn btn-lg btn-primary">Create Dish</a>
            <a href="#" id="cancel" class="btn btn-lg btn-warning">Cancel Create</a>
            <div id="add-dish"></div>
            <br/>
        </div>
        @foreach (var item in Model)
            {
            <h3 class="recipeNames">@item.Name</h3>
        }
    </div>
    @foreach (var dish in Model)
    {
        <div>
            <h2 class="text-center">@dish.Name</h2>
            @foreach (var product in dish.Products)
                {
                <img src="~/Content/images/products/@product.ImageUrl" width="80" height="80" />
                    <h4>@product.Name</h4>
            }
        </div>
    }
    <div title="This is a page title"><h3>2 Page</h3></div>
    <div><h3>3 Page</h3></div>
    <div title="This is another page title"><h3>4 Page</h3></div>
    <div><h3>5 Page</h3></div>
    <div><h3>6 Page</h3></div>

</div>
@section scripts{
    <script>
        $(function () {
            $('#mybook').booklet({
                width: '100%',
                height: 800,
                speed: 500,
                direction: 'LTR',
                easing: null,
                easeIn: null,
                easeOut: null,
                keyboard: true,
                menu: '#custom-menu',
                pageSelector: true,
                manual: false,
                overlays: true,
                hovers: true,
                shadows: false
            });
        });

        $(document).ready(function () {
            $('#cancel').hide();
            $('.recipeNames').show();
        });

        $('#getCreateDish').on('click', function loadPartialView(context) {
            $('#cancel').show();
            $('#add-dish').show();
            $('#add-dish').load('/Administration/Dish/Create');
            $('.recipeNames').hide();
        });

        $('#cancel').on('click', function hideForm() {
            $('#add-dish').hide();
            $('.recipeNames').show();
            $('#cancel').hide();
        });
    </script>
}
