@using SpecTester.Web.Areas.Administration.ViewModels
<br />
<div class="text-center">
    <a href="#" id="getCreateProduct" class="btn btn-lg btn-primary">Create Product</a>
    <a href="#" id="cancel" class="btn btn-lg btn-warning">Cancel Create</a>
</div>
<div id="add-product"></div>
<br />
@using Kendo.Mvc.UI

@(Html.Kendo().Grid<ProductViewModel>
    ()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Name).HtmlAttributes(new { style = "text-align:center" });
        columns.Bound(p => p.ImageUrl)
        .ClientTemplate("<img src='" + Url.Content("~/Content/images/products/") + "#=ImageUrl#' alt='#=Name #' Title='#=Name #' height='100' width='100' />")
        .Filterable(false)
        .HtmlAttributes(new { style = "text-align:center" });
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250)
        .HtmlAttributes(new { style = "text-align:center" });
    })
    .HtmlAttributes(new { style = "height: 700px;" })
    .Pageable()
    .Filterable()
    .Scrollable()
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .DataSource(dataSource => dataSource
    .Ajax()
    .Model(model =>
    {
        model.Id(p => p.Id);
        model.Field(p => p.ImageUrl).Editable(false);
    })
    .Read(read => read.Action("Read", "Product"))
    .Destroy(destroy => destroy.Action("Delete", "Product"))
    .Update(update => update.Action("Update", "Product"))
    .PageSize(20)
    )
)
@section scripts{
    <script>
        $(document).ready(function () {
            $('#cancel').hide();
        })
        $('#getCreateProduct').on('click', function loadPartialView(context) {
            $('#cancel').show();
            $('#add-product').show();
            $('#add-product').load('Create');
        });

        $('#cancel').on('click', function hideForm() {
            $('#add-product').hide();
            $('#cancel').hide();
        });
    </script>
}
